/* Individual project card */
.project-card {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Align items vertically in the center */
    /* background-color: #0d0d0d; */
    /* border: 10px solid #e9f7f6; */
    border-radius: 30px;
    overflow: hidden;
    width: 100%; /* Ensure cards take up the full width */
    max-width: 900px; /* Limit the max width of the card */
    margin: 20px auto; /* Center the card horizontally with auto margin */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Project image */
.project-card img {
    width: 40%; /* Make the image take up 40% of the card width */
    height: 100%; /* Ensure the image fills the height */
    object-fit: cover;
    border-right: 5px solid #e4c553; /* Add a dividing line between the image and text */
}

/* Project content */
.project-content {
    text-align: left; /* Align text to the left */
    padding: 20px; /* Add padding around the text */
    width: 60%; /* Make the content take up the remaining 60% of the card width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Project title */
.project-title {
    font-size: 1.5rem;
    color: #0d0d0d;
    margin-bottom: 10px; /* Add spacing below the title */
}

/* Project description */
.project-description {
    font-size: 1rem;
    color: #0d0d0d;
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Project technologies */
.project-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.tech {
    background-color: #e4c553;
    color: #0d0d0d;
    font-size: 0.875rem;
    padding: 5px 10px;
    border-radius: 50px;
    text-transform: capitalize;
}

/* Project button */
.project-button {
    display: inline-block;
    background-color: #e9f7f6;
    color: #0d0d0d;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.875rem;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: #e4c553;
}

.component-title {
    font-size: 2.5rem; /* Adjust font size */
    color: #0d0d0d; /* Title color */
    text-align: center; /* Center the title */
    margin: 0; /* Remove default margins */
    width: 100%; /* Ensure title takes the full width */
    max-width: 900px; /* Align with project card's max width */
    padding: 100px 0; /* Add vertical padding for spacing */
}

